a {
color: orange;
text-decoration: none;
}

body {
    font: normal 14px/22px Arial, Helvetica, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
}


.contact-image {
text-align: center;
margin-top: 4rem;

}

.Footer {
    padding-top: 1rem;
    background-color: #000066; 
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}
.form-input-field {
margin-top: 7px;
padding: 9px;
outline: none;
border: none;
width: 70%;
height: 100%
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

.header-container {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem
}

.Header {
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
    }

.header-box {
    margin-top: 1em;
    width: 90%;
}

.link-container{
display: flex;
flex-direction: row;
justify-content: space-around
}

.Links:hover {
    text-decoration: underline;
} 


.Links {
    margin-left: 3rem;
}

.Navbar {
margin-right: 4rem;

}
.pictureText-container {
background-image: url('./components/assets/cda-interview-guide.jpg');
background-repeat: no-repeat;
background-size: cover;
padding: 30rem;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* fonts */

h1 {
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 56px;
font-weight: 200;
letter-spacing: 1rem;
}

h2 {
font: 20px Arial, Verdana, Helvetica, sans-serif;
color: #000066;
font-weight: bold;
}


h3 {    
font: 18px Arial, Verdana, Helvetica, sans-serif;
font-weight: bold;
}

h4 {
font: normal 21px Arial, Helvetica, Geneva, sans-serif;
color: #000066;
}

h5 {
    font: normal 19px Arial, Helvetica, Geneva, sans-serif;
    font-weight: 200;
}

h6 {    
    font: normal 16px/24px Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 5px;
    -webkit-font-smoothing: antialiased;}

p {
font: 16px Arial, Verdana, Helvetica, sans-serif;
}


ul {

        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
}


@media only screen and (max-width: 960px) {
.App {
    text-align: center;
}
.Header {
    width: 8%
}

.social {
    float: none;
    text-align: left;
    padding-bottom: 10px;
}

}


@media only screen and (max-width: 767px) {
    .social {
        float: none;
        text-align: left;
        padding-bottom: 10px;
    }
}