body {
    font: normal 14px/22px Arial, Helvetica, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
}

footer{
    padding-top: 20px;
    text-align: left;
    padding-bottom: 10px
}

.Header {
display: flex;
flex-direction: inline;
justify-content: space-between;
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    background-color:rgb (255, 255, 255);
}

.pictureText-container {
background-image: url('./components/assets/cda-interview-guide.jpg');
background-repeat: no-repeat;
background-size: cover;
padding: 30rem;
}

h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 46px;
}

h2 {
font: 17px Arial, Verdana, Helvetica, sans-serif;
color: #000066;
font-weight: bold;
}


h3 {    
font: 16px Arial, Verdana, Helvetica, sans-serif;
font-weight: bold;
}

p {
font: 16px Arial, Verdana, Helvetica, sans-serif;
}